@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-background-100: #e8f5e0;
  --color-background-200: #ddf0d1;
  --color-background-300: #d1ebc1;
  --color-background-secondary-100: #eae1f4;
  --color-background-secondary-200: #dfd2ee;
  --color-background-secondary-300: #d5c3e9;
  --color-accent-pink: #8c1a6a;  
  --color-accent-purple: #d3acd7;  
  --font-display: "Lato", "sans-serif";
  --font-header: "Poppins", "sans-serif";
}

html {
  background-color: #e8f5e0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black
}

body {
  margin: 0;
  width: 100%;
  display: flex;
  /* min-height: 150vh; */
  /* font-size:large; */
}

h1{
  font-size:xx-large; 
  font-weight:bold;
  padding: 1rem;
}

h2{
  font-size:x-large; 
  padding: 1rem;
}

p{
  padding: 1rem;
}

li{
  padding:0.5rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin: 0.25em;
  border: dotted 1px #a1a1a1;
  border-radius: .5em;
  padding: .5em 1em;
  font-size: 1.15em;
  background-color: #eae1f4;
}

input:focus {
  background-color: #dfd2ee !important;
  outline: none;
}
