---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const pageTitle = "About Me | Shannon's Journal Blog";
const description = "Learn about Shannon's journey through journaling and her early career, and find out what inspires this bullet journal and goal-setting blog.";

---
<BaseLayout pageTitle={pageTitle} description={description}>

  <div class="flex flex-col-reverse lg:flex-row">
  <p class="lg:w-[50%]">
    Whether you're new to journaling, just starting your career, or looking for
    inspiration to balance both, you're in the right place. I hope my
    experiences and tips inspire you to reflect on your own journey, set
    meaningful goals, and embrace new challenges. Feel free to explore the blog,
    read my posts, and share your thoughts in the comments! Let’s connect
    through the art of journaling and the business of keeping ourselves
    together.
  </p>
  <h2 class="justify-end">Join Me on This Journey</h2>
  </div>
  <p>Happy Journaling!</p>
</BaseLayout>