---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from '../components/Greeting.jsx';
import BlogPost from "../components/BlogPost.astro";
const pageTitle = "Welcome to My Journal Blog";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
allPosts.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate));
const slicedPosts = allPosts.slice(0, 3);
---

<BaseLayout pageTitle={pageTitle} description="A personal blog about bullet journaling, creative spreads, goal setting, and navigating early career life. Tips, layouts, and inspiration for your journaling journey.">
  <div class="flex flex-col text-lg">
    <p>
    Hello, and welcome to my journal blog—a place where I share my personal
    journey through journaling, my experiences as a newcomer to the corporate
    world, and the ways both have helped me reflect, grow, and plan for the
    future.
  </p>
    <p class="lg:block hidden">
    Journaling has been a powerful tool for me to organize my thoughts, set goals,
    and track my progress. As I navigate the early stages of my career, I also use
    journaling to process new challenges, celebrate wins, and learn from mistakes.
    On this blog, I’ll share my greatest tips and tricks I have learned so far to
    keep myself afloat in this busy world.
    </p>
  </div>

<div class="flex flex-col bg-background-300 lg:flex-row">
  <h2 class="lg:w-[50%]">What You'll Find Here:</h2>
  <p>
    <ul class="text-lg">
      <li>
        <b>Journaling Tips</b>: Practical advice on how to start and maintain
        a journal, as well as ways to incorporate creative spreads into your
        routine.
      </li>
      <li>
        <b>Goal Setting</b>: Strategies for setting achievable goals, creating
        action plans, and tracking your progress.
      </li>
      <li>
        <b>Monthly and Yearly Spreads</b>: Inspiration for unique and
        effective bullet journal layouts for tracking habits, moods, and more.
      </li>
      <li>
        <b>BUJO Layout Inspirations</b>: Lists of my favorite pages I've done
        to date to inspire you!
      </li>
    </ul>
  </p>
</div>

<h2>Latest Posts</h2>

<ul>
  {slicedPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} description={post.frontmatter.description}/>)}
</ul>
</BaseLayout>
