---
const {url, title, description} = Astro.props;
---

<li class="border-b-2 border-accent-pink">
    <u><p class="font-bold text-xl">{title}</p></u>
    <p>{description}</p>
    <a href={url} class="btn btn-md border-r-2 border-accent-pink bg-accent-pink">Read More:</a>
</li>