---
const platform = "github";
const username = "withastro";
import Social from './Social.astro';
---

<footer class="flex gap-1 py-2 bg-background-secondary-300">
  <p>Learn more about my projects on Github!</p>
    <Social platform="linkedin" username="in/mckinney-shannon" icon="mdi:linkedin"/>
    <Social platform="github" username="ShannonMcKinney1" icon="mdi:github" />
    <Social platform="youtube" username="astrodotbuild" icon="mdi:youtube"/>
</footer>
