---
import { Icon } from "astro-icon/components";
const { platform, username, icon } = Astro.props;
---
    <a href={`https://www.${platform}.com/${username}`} 
        class="px-2 text-white bg-accent-pink btn border-r-2 border-accent-pink">
        <Icon name={icon} class="inline px-1 size-10" />
        {platform}
    </a>
