---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const { pageTitle } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    
  </head>
  <body class="">
    <div class="md:w-[100px] lg:w-[200px] mx-auto md:bg-[url(/images/leave-border2.png)] md:bg-repeat-y"></div>
    <div class="flex-1 mx-10 p-4 md:p-10 max-w-[876px]">
    <Header />
    <h1>{pageTitle}</h1>
    <slot />
    <Footer/>
  </div>
    <div class="md:w-[100px] lg:w-[200px] mx-auto md:bg-[url(/images/leave-border2.png)] md:bg-repeat-y"></div>
    
  </body>
</html>